[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
[submodule "public"]
	path = public
        url = https://github.com/bowei0001/bowei0001.github.io.git
	branch = master
[submodule "public/bowei0001.github.io"]
	path = public/bowei0001.github.io
	url = https://github.com/bowei0001/bowei0001.github.io.git
	branch = master
